<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Passing Example</title>
</head>
<body>

    <button onclick="touser()">USER</button>
    <button onclick="todriver()">DRIVER</button>





</body>
<script>
    function touser()
    {
        window.location.href = '/user';
    }
    function todriver()
    {
        window.location.href = '/driver_login'
    }
</script>
</html>
